@import 'responsive';

section{
    .nav{

    }
    .main{
        display:grid;
        grid-template-columns: 1fr;
        .img-bx{
            img{
                width:100%;
            }
        }
        .text-box{
            h1{

            }
            p{

            }
            .button{

            }
        }
    }
}